.b_a {
  content: '';
  position: absolute;
  left: 0;
  height: 3px;
  width: 27px;
  border-radius: 15px;
  background-color: var(--white);
}
.menu_collapsed {
  transition: all 0.25s;
  position: relative;
  top: 68px;
  left: 86%;
  height: 20px;
  width: 27px;
  z-index: 1;
  cursor: pointer;
  ul {
    transition: all 0s;
    position: relative;
    right: -9000px;
  }
}

.bar {
  @extend .b_a;
  position: absolute;
  top: 33px;
  left: 20.438rem;
  &:before {
    @extend .b_a;
    top: -8px;
  }
  &:after {
    @extend .b_a;
    top: 8px;
  }
}

.menu_expanded {
  transition: all 0.25s;
  position: absolute;
  z-index: 1;
  text-align: center;
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  top: 68px;
  left: 0;
  background-color: var(--main);
  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 1;
  }
}

.row {
  padding-top: 150px;
}
